@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    hsl(166, 72%, 49%, 0.7) 0%,
    hsl(247, 100%, 69%) 46%,
    hsl(330, 100%, 50%, 0.5) 100%
  );
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.contact-in {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}
.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
}
.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center;
}
.contact-form h1 {
  margin-bottom: 10px;
}
.contact-form-txt {
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txt::placeholder {
  color: #aaa;
}
.contact-form-textarea {
  width: 100%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-textarea::placeholder {
  color: #aaa;
}
.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #8e2de2;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .contact-in {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 860px) {
  body {
    margin: 25rem 0 !important;
  }
  .contact-in {
    grid-template-columns: 1fr;
  }
  .contact-map iframe {
    width: 100%;
    height: 400px;
  }
}
