@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #333;
}
div{
    padding: 30px;
    color: #fff;
}
h2{
    text-align: center;
}