@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}
.wrapper > h1 {
  letter-spacing: 3px;
}
.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.accordion i {
  font-size: 1.6rem;
}
.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}
.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
}
.full-boxer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.comment-box:hover {
  margin-top: 12px;
}
.comment-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
}
.Profile {
  display: flex;
  align-items: center;
}
.profile-image {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.Name strong {
  color: black;
  font-size: 18px;
}
.comment p {
  color: black;
}
.footer-bottom {
  background: #000;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 1120px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 1120px) {
  .accordion {
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
  }
  .pannel p {
    font-size: 1rem;
    padding: 10px 0;
    line-height: normal;
  }
  .profile-image {
    width: 50px;
    height: 50px;
  }
  .Name strong {
    font-size: 14px;
  }
  .comment p {
    font-size: 0.9rem;
    color: black;
  }
  .full-boxer {
    grid-template-columns: 1fr;
  }
  .footer-bottom {
    padding: 20px;
  }
}
