@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	height: 100vh;
	width: 100%;
	column-gap: 30px;
	background: linear-gradient(45deg, #d2001a, #7462ff, #ff007f, #23d5ab);
	background-size: 500% 500%;
}

@keyframes color {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

.form {
	position: absolute;
	max-width: 430px;
	width: 90%;
	padding: 30px;
	border-radius: 6px;
	background: #fff;
}

.form.signup {
	opacity: 0;
	pointer-events: none;
}

.forms.show-signup .form.signup {
	opacity: 1;
	pointer-events: auto;
}

.forms.show-signup .form.login {
	opacity: 0;
	pointer-events: none;
}

header {
	font-size: 28px;
	font-weight: 600;
	color: #232836;
	text-align: center;
}

form {
	margin-top: 30px;
}

.form .field {
	position: relative;
	height: 50px;
	width: 100%;
	margin-top: 20px;
	border-radius: 25px;
}

.field input,
.field button {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 16px;
	font-weight: 400;
	border-radius: 6px;
}

.field input {
	outline: none;
	padding: 0 15px;
	border: 1px solid#CACACA;
}

.field input:focus {
	border-bottom-width: 2px;
}

.eye-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 18px;
	color: #8b8b8b;
	cursor: pointer;
	padding: 5px;
}

.field button {
	background-color: #fff;
	border: 1px solid #222;
	color: #222;
	border-radius: 25px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.field button:hover {
	background-color: violet;
}

.form-link {
	text-align: center;
	margin-top: 10px;
}

.form-link button,
.form-link a {
	font-size: 14px;
	font-weight: 400;
	color: #232836;
}

.form a {
	color: #64b5f6;
	text-decoration: none;
}

.form-content a:hover {
	text-decoration: underline;
}

.line {
	position: relative;
	height: 1px;
	width: 100%;
	margin: 36px 0;
	background-color: blueviolet;
}

.line::before {
	content: "Or";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	color: #232836;
	padding: 0 15px;
}

.media-options a {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.facebook {
	color: #fff;
	background-color: #4267b2;
}

a.facebook .facebook-icon {
	height: 28px;
	width: 28px;
	color: #0171d3;
	font-size: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.facebook-icon,
img.google-img {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}

img.google-img {
	height: 20px;
	width: 20px;
	object-fit: cover;
}

a.google {
	border: 1px solid #cacaca;
}

a.google span {
	font-weight: 500;
	opacity: 0.6;
	color: blueviolet;
}

img.phone-img {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}

img.phone-img {
	height: 25px;
	width: 25px;
	object-fit: cover;
}

@media screen and (max-width: 400px) {
	.form {
		padding: 15px 10px;
	}
}