* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    hsl(166, 72%, 49%, 0.7) 0%,
    hsl(247, 100%, 69%) 46%,
    hsl(330, 100%, 50%, 0.5) 100%
  );
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.pricing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  padding: 2rem;
  transition: all 0.2s ease-in;
}
.card-wrapper:hover {
  transform: scale(1.1);
}
.card-header {
  margin: 1rem;
  text-align: center;
}
.card-wrapper:hover .card-header > h2 {
  transform: scale(1.1);
  color: #5222d0;
  letter-spacing: 2;
}
.card-header > img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.card-detail {
  width: 100%;
}
.card-detail > p {
  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #d5d5d5;
}
.check {
  color: #5222d0;
}
.nocheck {
  color: #ec615b;
}
.card-detail > p:hover {
  background-color: #d5d5d5;
}
.card-price {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}
.card-price > p {
  font-size: 3rem;
  font-weight: 800;
}
.card-price > p > sup,
.card-price > p > sub {
  font-size: 1rem;
}
.card-button {
  padding: 0.6rem 3rem;
  border: 2px solid #5222d0;
  background-color: #5222d0;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: all 50ms ease-in;
  text-decoration: none;
}
.card-button:hover {
  border: 2px solid #ec615b;
  background-color: transparent;
  color: #ec615b;
  font-weight: 800;
}
@media screen and (max-width: 800px) {
  .form {
    padding: 15px 10px;
  }
}
@media (max-width: 1100px) {
  body {
    margin-top: 20rem !important;
  }
  .pricing {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 825px) {
  .pricing {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 570px) {
  body {
    margin-top: 50rem !important;
  }
  .pricing {
    grid-template-columns: 1fr;
  }
}
