@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --body-bg: hsl(0, 0%, 12%2);
}

html {
  color-scheme: dark light;
}
body {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}
.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.site-title {
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
}
.section-title {
  font-size: 2.25rem;
  margin: 1rem 0 0.5rem;
}
section {
  padding-block: 5rem;
}

.normal {
  position: relative;
  color: black;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}
.normal::before,
.normal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background: purple;
  -webkit-mask-image: url("assets/triangle.svg");
}
.normal::before {
  top: 0;
}
.normal::after {
  bottom: 0;
  transform: rotate(0.5turn);
}

.diagonal::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.spikes {
  position: relative;
  color: black;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}
.spikes::before,
.spikes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background: purple;
  -webkit-mask-image: url("assets/triangle.svg");
}
.spikes::before {
  top: 0;
}
.spikes::after {
  bottom: 0;
  transform: rotate(0.5turn);
}
.wavy {
  /* mask created with 
  https://css-generators.com/wavy-shapes/ */

  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);

  --mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(50.39px at 50% calc(100% - 68.75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(50.39px at 50% calc(100% + 43.75px), #0000 99%, #000 101%)
      50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.footer-bottom {
  background: #000;
  color: #fff;
  width: 100vw;
  padding: 20px;
  text-align: center;
}
@media (max-width: 570px) {
  .site-title {
    font-size: 2rem;
  }
  section {
    padding-block: 2rem;
  }
  body {
    font-size: 1rem;
    line-height: normal;
    margin: 0;
  }
  .section-title {
    font-size: 1.6rem;
  }
}
